.hideDiv { display:none; }


button:focus, button:active {
    color: #fff!important;
    background-color: #2e0e98!important;
    border-color: #2e0e98!important;
    outline: none!important;
}


div.filaRegistro {
    padding-top: 3rem;
    height: 100%;
    padding-bottom: 2.6875rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    .row {
      justify-content: center;
    }
  }
  div.tituloRegistro.row {
    margin-top: 0rem;
  }
  h3.titReg {
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    letter-spacing: 0;
    color: #2e0e98;
    text-transform: uppercase;
    opacity: 1;
  }
  div.descripcionRegistro {
    margin-top: 1.625rem;
    padding-bottom: 1.625rem;
    p.desc {
      text-align: center;
      font-family: Lato;
      letter-spacing: 0;
      color: #898989;
      opacity: 1;
      width: 34.125rem;
      height: 2.375rem;
      font-size: calc(0.8em + 0.8vh);
    }
  }
  
  div.checkAsistir {
    margin-top: 1rem;
    div.col {
      display: flex;
      justify-content: center;
    }
    div.boton {
      height: 3rem;
      box-shadow: 0px 3px 6px #0000003d;
      border-radius: 8px 0px 0px 8px;
      opacity: 1;
      display: flex;
      justify-content: center;
    }
    button.oyente, button.expositor {
      width: 15rem;
      padding: 0.75rem;
      border: 0.0625rem solid #2e0e98;
      color: #2e0e98;
      font-size: calc(0.5em + 1.2vh);
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background: #2e0e98;
        color: #ffffff;
      }
    }
  }
  
  div.formulario {
    padding-bottom: 5.22375rem;
    label {
      text-align: left;
      font-family: Lato;
      letter-spacing: 0;
      color: #484848;
      opacity: 1;
    }
    input {
      border: 0.0625rem solid #bcbcbc;
      border-radius: 4px;
      opacity: 1;
    }
  }
  button.btnEnviar {
    margin-top: 2.4375rem;
    background: #2e0e98;
    border-radius: 4px;
    border: 0.0625rem solid #2e0e98;
    opacity: 1;
    font-family: Lato;
  }
