@import "../../node_modules//bootstrap/dist/css/bootstrap.min.css";

html {
  min-height: 100%;
  position: relative;
}

body {
  p {
    font-family: "Lato", sans-serif;
  }
}

nav {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: transparent linear-gradient(94deg, #2e0e98 0%, #240a79 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 12px #00000029;
  opacity: 1;
  border-bottom: 1px solid #2ce5c1;
}

a {
  color: #2ce5c1;
}

div.home {
  height: 100vh;
  width: 100%;
  background-image: url("../images/header/Grupo_9399_A0_Group_146_pattern.png"),
    url("../images/header/Grupo_9405_A0_Group_147_pattern.png"),
    url("../images/header/Grupo_9411_A0_Group_149_pattern.png"),
    url("../images/header/Grupo_9413_A0_Group_150_pattern.png"),
    url("../images/header/Grupo_9416_A0_Group_151_pattern.png"),
    url("../images/header/Grupo_9421_A0_Group_152_pattern.png"),
    url("../images/header/Grupo_9423_A0_Group_153_pattern.png"),
    url("../images/header/Grupo_9426_A0_Group_154_pattern.png"),
    url("../images/header/Grupo_9428_A0_Group_155_pattern.png"),
    url("../images/header/Grupo_9430_A0_Group_156_pattern.png"),
    url("../images/header/Grupo_9433_A0_Group_157_pattern.png"),
    url("../images/header/Grupo_9435_A0_Group_158_pattern.png"),
    url("../images/header/Grupo_9437_A0_Group_159_pattern.png"),
    url("../images/header/Grupo_9440_A0_Group_160_pattern.png"),
    url("../images/header/Grupo_9445_A0_Group_161_pattern.png"), url("../images/header/Rectángulo\ 299.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e0e98;

  div.logo-box {
    position: relative;
    top: 181px;
    div.logo-1 {
      img {
        height: 267px;
      }
    }

    div.logo-2 {
      border-left: 1px solid #fff;
      height: 142px;
      position: relative;
      top: 148px;
      p {
        color: #fff;
      }
      p:nth-child(1) {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 24px;
      }
      p:nth-child(2) {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-weight: 300;
      }

      a {
        top: 411px;
        left: 748px;
        width: 200px;
        height: 40px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 50px;
        opacity: 1;
        color: #2e0e98;
      }
    }
  }

  div.text-box {
    position: relative;
    top: 27rem;
    left: 0px;
    width: 875px;
    height: 19px;
    text-align: left;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.8px;
    color: #ffffff;
    font-weight: 300;

    p {
      color: #fff;
      font-size: 1rem;
      span {
        font-weight: 700;
      }
    }
  }
}
div.fila {
  height: 39.0625rem;
}
div.openSpaceL {
  background: #d8fff7 0% 0% no-repeat padding-box;
  opacity: 0.5;
}
div.openSpaceR {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.5;
}
div.titulo {
  margin-top: 2.6875rem;
  justify-content: center;
  p {
    font-family: Lato;
    font-size: calc(2em + 0.4vh);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
  }
}
div.filaTarjeta {
  margin-top: 1.395625rem;
  height: 4.666875rem;
  justify-content: center;
}
div.columnaTarjeta {
  background: #dbfff8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  display: flex;
  align-items: center;
}
p.infoTarjeta {
  text-align: left;
  font-family: Lato;
  font-size: calc(0.6em + 0.4vh);
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin: -0.5rem;
  padding-left: 2rem;
}
div.colNum {
  margin: -0.9375rem;
  height: 4.666875rem;
  background: #b1fdef 0% 0% no-repeat padding-box;
  border-radius: 8px 0px 0px 8px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.pasos {
  font-family: Helvetica;
  font-size: 1.25rem;
  text-align: left;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin-bottom: 0rem;
}

div.filaRegistro {
  margin-top: 2.6875rem;
  height: 100vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  .row {
    justify-content: center;
  }
}
div.tituloRegistro.row {
  margin-top: 0rem;
}
h3.titReg {
  text-align: center;
  font-family: Lato;
  font-weight: 300;
  letter-spacing: 0;
  color: #2e0e98;
  text-transform: uppercase;
  opacity: 1;
}
div.descripcionRegistro {
  margin-top: 1.625rem;
  padding-bottom: 1.625rem;
  p.desc {
    text-align: center;
    font-family: Lato;
    letter-spacing: 0;
    color: #898989;
    opacity: 1;
    width: 34.125rem;
    height: 2.375rem;
    font-size: calc(0.8em + 0.8vh);
  }
}

div.checkAsistir {
  margin-top: 1rem;
  div.col {
    display: flex;
    justify-content: center;
  }
  div.boton {
    height: 3rem;
    box-shadow: 0px 3px 6px #0000003d;
    border-radius: 8px 0px 0px 8px;
    opacity: 1;
    display: flex;
    justify-content: center;
  }
  label.oyente {
    width: 15rem;
    padding: 0.75rem;
    border: 0.0625rem solid #2e0e98;
    color: #2e0e98;
    font-size: calc(0.5em + 1.2vh);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label.oyente:hover {
    background: #2e0e98;
    color: #ffffff;
  }
  label.expositor {
    width: 15rem;
    padding: 0.75rem;
    border: 0.0625rem solid #2e0e98;
    color: #2e0e98;
    font-size: calc(0.5em + 1.2vh);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  label.expositor:hover {
    background: #2e0e98;
    color: #ffffff;
  }
}

div.formulario {
  padding-bottom: 5.22375rem;
  label {
    text-align: left;
    font-family: Lato;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
  }
  input {
    border: 0.0625rem solid #bcbcbc;
    border-radius: 4px;
    opacity: 1;
  }
}
button.btnEnviar {
  margin-top: 2.4375rem;
  background: #2e0e98;
  border-radius: 4px;
  border: 0.0625rem solid #2e0e98;
  opacity: 1;
  font-family: Lato;
}


footer {
  height: 260px;
  width: 100%;
  .redes-s {
    width: 100%;
    height: 176px;
    background: #F4F4F4;
    p{
        padding-top: 30px;
        font-weight: 300;
        font-size: 14px;
    }
    img {
      width: 60px;
      height: 37px;
    }
  }
  .diseno {
    background-color: #2e0e98;
    background-image: url('../images/Textura/bg_color_gradient.png');
    position: absolute;
    bottom: 0;
    height: 85px;
    color: white;
    width: 100vw;
    .f-di {
        padding-left: 105px;
        padding-top: 30px;
        font-weight: 300;
        font-family: Lato;
        font-size: 14px;
        margin: 0;
        opacity: 0.5;
    }
    .f-logo {
        padding-top: 10px;
        float: right;
        font-family: Lato;
        font-size: 14px;
        margin: 0;
        opacity: 0.5;
    }
  }
}
