@import "../../node_modules//bootstrap/dist/css/bootstrap.min.css";
@import "./variables.scss";
@import "./mixin.scss";
@import "./nav-header.scss";
@import "./open-space.scss";
@import "./form.scss";
@import "./footer.scss";

html {
  min-height: 100%;
  position: relative;
  font-family: "Lato", sans-serif;
}

img{
  width:100%;
}

div.fila {
  height: 39.0625rem;
}
div.openSpaceL {
  background: #d8fff7 0% 0% no-repeat padding-box;
  opacity: 0.5;
  .logo-open{
    padding-top: 185px;
    padding-left: 235px;
  }
  div{
    p{
      padding-top:32px;
    }
  }
  .texture-open{
    position: absolute;
    bottom: 0;
  }
}
div.openSpaceR {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.5;

}
div.titulo {
  margin-top: 2.6875rem;
  justify-content: center;
  p {
    font-family: Lato;
    font-size: calc(2em + 0.4vh);
    font-weight: 300;
    text-align: center;
    letter-spacing: 0;
    color: #484848;
    opacity: 1;
  }
}
div.filaTarjeta {
  margin-top: 1.395625rem;
  height: 4.666875rem;
  justify-content: center;
}
div.columnaTarjeta {
  background: #dbfff8 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  display: flex;
  align-items: center;
}
p.infoTarjeta {
  text-align: left;
  font-family: Lato;
  font-size: calc(0.6em + 0.4vh);
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin: -0.5rem;
  padding-left: 2rem;
}
div.colNum {
  margin: -0.9375rem;
  height: 4.666875rem;
  background: #b1fdef 0% 0% no-repeat padding-box;
  border-radius: 8px 0px 0px 8px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
p.pasos {
  font-family: Helvetica;
  font-size: 1.25rem;
  text-align: left;
  letter-spacing: 0;
  color: #484848;
  opacity: 1;
  margin-bottom: 0rem;
}



