@import "../../node_modules//bootstrap/dist/css/bootstrap.min.css";
@import "./variables.scss";
@import "./mixin.scss";
@import "./nav-header.scss";
@import "./open-space.scss";
@import "./form.scss";
@import "./footer.scss";

html {
  min-height: 100%;
  position: relative;
  font-family: "Lato", sans-serif;
}

img{
  width:100%;
}


@media only (max-width: 414px)  {
  div.home div.logo-box {
    padding-top: 3rem;
}
  div.logo-box img{
    height: unset!important;
    width:300px!important;
  }
  div.home div.text-box{
    padding: 30px 30px 70px 30px!important;
  }
  div.descripcionRegistro{
    padding-bottom: 3.625rem!important;
  }
  #oyente, #expositor{
    font-size: 14px;
  }
  div#navbarNavDropdown{
    justify-content: center!important;
  }
}



