nav {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5rem;
  background: transparent linear-gradient(94deg, #2e0e98 0%, #240a79 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 12px #00000029;
  opacity: 1;
  border-bottom: 1px solid #2ce5c1;
}

a {
  color: #2ce5c1;
}

div.home {
  height: 100vh;
  width: 100%;
  background-image: url("../images/header/Grupo_9399_A0_Group_146_pattern.png"),
    url("../images/header/Grupo_9405_A0_Group_147_pattern.png"),
    url("../images/header/Grupo_9411_A0_Group_149_pattern.png"),
    url("../images/header/Grupo_9413_A0_Group_150_pattern.png"),
    url("../images/header/Grupo_9416_A0_Group_151_pattern.png"),
    url("../images/header/Grupo_9421_A0_Group_152_pattern.png"),
    url("../images/header/Grupo_9423_A0_Group_153_pattern.png"),
    url("../images/header/Grupo_9426_A0_Group_154_pattern.png"),
    url("../images/header/Grupo_9428_A0_Group_155_pattern.png"),
    url("../images/header/Grupo_9430_A0_Group_156_pattern.png"),
    url("../images/header/Grupo_9433_A0_Group_157_pattern.png"),
    url("../images/header/Grupo_9435_A0_Group_158_pattern.png"),
    url("../images/header/Grupo_9437_A0_Group_159_pattern.png"),
    url("../images/header/Grupo_9440_A0_Group_160_pattern.png"),
    url("../images/header/Grupo_9445_A0_Group_161_pattern.png"), url("../images/header/Rectángulo\ 299.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e0e98;

  div.logo-box {
    padding-top: 6rem;
    div.logo-1 {
      padding-left: 3rem;
      img {
        height: 16.6875rem;
      }
    }

    div.logo-2 {
      border-left: 1px solid #fff;
      height: 8.875rem;
      position: relative;
      top: 9.25rem;
      p {
        color: #fff;
      }
      p:nth-child(1) {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
      }
      p:nth-child(2) {
        font-family: "Lato", sans-serif;
        font-size: 1.25rem;
        font-weight: 300;
      }

      a {
        top: 25.6875rem;
        left: 46.75rem;
        width: 12.5rem;
        height: 2.5rem;
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 50px;
        opacity: 1;
        color: #2e0e98;
      }
    }
  }

  div.text-box {
    padding-top: 3.8rem;
    left: 0px;
    width: 54.6875rem;
    height: 1.1875rem;
    text-align: left;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.8px;
    color: #ffffff;
    font-weight: 300;

    p {
      color: #fff;
      font-size: 1rem;
      span {
        font-weight: 700;
      }
    }
  }
}
